<div class="search-content">
    <form>
        <div class="row no-border">
            <div class="heading"><h3>Plan en boek</h3></div>
        </div>
        <div class="row">
            <div class="lable">Van</div>
            <div class="form-control">
                <select>
                    <option>Amsterdam</option>
                    <option>London</option>
                </select>
            </div>
        </div>
        <div class="row active">
            <div class="lable">Naar</div>
            <div class="form-control">
                <select>
                    <option>London</option>
                    <option>France</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="lable">Wanneer</div>
            <div class="form-control">
                <input type="date" class="date-picker"/>
            </div>
        </div>
        <div class="row">
            <div class="lable">Passagiers</div>
            <div class="form-control">
                <select>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="link"><a href="#">Meer zoikopties</a></div>
            <div class="button">
                <input type="button" value="Bekijk vluchten" />
            </div>
        </div>
    </form>
</div>
